.box{
    /*Some basic styling*/
      border: 1px solid #333;
      width: 60px;
      height: 60px;
      padding-top: 15px;
      padding-right:1px; 
      text-align:right;
      margin: 2px auto;
      background: #29a7d3;
      color: white;
      border-radius: 50%;
      font-family:  helvetica;
    
  }

section.maf1 {
position: relative;
padding: 150px 0;
padding-top: 100px;
}
section.maf1 h1{
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 1em;
    }

section.maf1 h2 {
font-size: 2.5rem;
margin-top: 0;
}

section.maf2 {
position: relative;
padding: 150px 0;
padding-top: 100px;
}
section.maf2 h1{
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 1em;
    }

section.maf2 h2{
font-size: 2.5rem;
margin-top: 0;
}

section-alv {
  padding: 0px 0 0 0;
}
section-alv.features {
  margin-bottom: 5px;
}

section-alv.features .section-heading {
  margin-bottom: 5px;
}

section-alv.features .section-heading h2 {
  margin-top: 0px;
}

section-alv.features .section-heading p {
  margin-bottom: 0;
}

section-alv.features .device-container,
section-alv.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section-alv.features .device-container {
  margin-bottom: 00px;
}

@media (min-width: 992px) {
  section-alv.features .device-container {
    margin-bottom: 0;
  }
}

section-alv.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}

section-alv.features .feature-item h3 {
  font-size: 25px;
}

    section-alv.features .feature-item i {
        font-size: 60px;
        display: block;
        margin-bottom: 10px;
        background: -webkit-gradient(linear, right top, left top, from(#8ee9e2), to(#607b5b));
        background: linear-gradient(to left, #8ee9e2, #607b5b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


.bh-link{
 color:black;
 /* float: left; */
 display: block;
 font-size: 2rem;
}
.content-container{
    margin-left: 7.5em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    /* margin-left: auto; */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkred; /* Set a background color */
    color: #FFA4A4; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
.btn-asset{
  color: white;
  background-color: orange;
  border-radius: 50px;
  font-size: 14px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color:white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:#FFBE3D;
  border-radius: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #FFBE3D;
  border-radius: 15px;
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
#classy{
  margin-top:10px;
  padding-top: 15px; 
}